django>=5.0
psycopg2-binary>=2.9
pillow>=10.0
django-crispy-forms>=2.1
crispy-bootstrap5>=2024.2
weasyprint>=62.0
django-environ>=0.11
openpyxl>=3.1
python-barcode>=0.15
xhtml2pdf>=0.2.13
reportlab>=4.0.4
arabic-reshaper>=3.0.0
python-bidi>=0.4.2
